<Jumbo>
  <h2>{{@rental.name}}</h2>
  <p>Let's know a bit more about {{@rental.name}}!</p>
  <ShareButton
    @text="Check out {{@rental.name}} on Torusoft!"
    @hashtags="software,developer,programmer,tech"
    @via="emberjs"
  >
    Share {{@rental.name}}'s profile on Twitter
  </ShareButton>
</Jumbo>

<article class="rental detailed">
  <Rental::Image
    src={{@rental.image}}
    alt="A picture of {{@rental.name}}"
  />

  <div class="details">
    <h3>About {{@rental.name}}</h3>

    <div class="detail owner">
      <span>Role:</span> {{@rental.job}}
    </div>
    <div class="detail type">
      <span>Email:</span> {{@rental.email}}
    </div>
    <div class="detail location">
      <span>Phone:</span> {{@rental.phone}}
    </div>
    <div class="detail description">
      <p>{{@rental.description}}</p>
    </div>
  </div>
</article>